/*页面布局*/
.header{
	height:45px;

}
.logo{
	height:125px;

}
.nav{
	height:47px;
    background-color:#07111b;
    line-height:47px;
}
.banner{
	margin-top:9px;
	height:503px;

}
.onsale{
	height:158px;
    margin-top:9px;
}
.floor{
	margin-top:35px;
}
.friend-link{
	height:139px;

}
.footer{
	height:101px;
    background:#f3f5f7;
}